{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Manage requests' %}

{% block pageTitle %}
Make a new request
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/back.njk"%}

    {% if data['test'] == "a" %}
    <span class="govuk-caption-l">Set an interest</span>
    <h1 class="govuk-heading-l">Search for a citizen</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you do not award this person {{data.benefit}}, you must <a href="stop-request">unset the interest</a>.
      </strong>
    </div>

    {% elif data['test'] == "b" %}
    <span class="govuk-caption-l">Make a new request</span>
    <h1 class="govuk-heading-l">Search for a citizen</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you do not award this person {{data.benefit}}, you must <a href="stop-request">cancel the request</a>.
      </strong>
    </div>

    {% endif%}

    <p>
      Enter a National Insurance number to search the Real Time Information system and begin 
      {% if data['test'] == "a" %}
        setting an interest 
      {% elif data['test'] == "b" %}
        to make a new request
      {% endif %}
      in this citizen.
    </p>
    <form>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            National Insurance number
          </label>
        </h1>
        <p class="govuk-hint">For example, QQ 12 34 56 C</p>
        <input class="govuk-input  govuk-input--width-10" id="event-name" name="eventName" type="text">
      </div>
    </form>

    <p><a class="govuk-button" href="#">Search</a></p>

    <p></p>

  </div>
</div>



{% endblock %}