{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Manage requests' %}

{% block pageTitle %}
Stop request
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {% if data['test']=="a" %}Interest unset
            {% elif data['test'] == "b" %}Request cancelled
            {% endif%}
          </h1>
        </div>
        {% if data.benefit == "Pension Credit" or data.benefit == "Housing Benefit" %}
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You will need to check Searchlight to see whether Bob Banana has a partner. You may need to <a href="stop-request" class="govuk-link">
            {% if data['test']=="a" %}unset an interest
            {% elif data['test'] == "b" %}cancel a request
            {%endif%}
            </a> for them too.
        </p>
        {% endif %}
        <a href="index" class="govuk-button">Finish</a>
      </div>
    </div>
  </main>
</div>


{% endblock %}