{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Manage requests' %}

{% block pageTitle %}
View request
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "includes/back.njk"%}

    {% if data['test'] == "a" %}
    <span class="govuk-caption-l">View recent interests</span>
    <h1 class="govuk-heading-l">Your interests</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you do not award someone , you must <a href="stop-request">unset the interest</a>.
      </strong>
    </div>

    {% elif data['test'] == "b" %}
    <span class="govuk-caption-l">View recent requests</span>
    <h1 class="govuk-heading-l">Your requests</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        If you do not award someone {{data.benefit}}, you must <a href="stop-request">cancel the request</a>.
      </strong>
    </div>

    {% endif %}

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Requested</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">National Insurance number</th>
          <th scope="col" class="govuk-table__header">Surname</th>
          <th scope="col" class="govuk-table__header">First name</th>
          <th scope="col" class="govuk-table__header">Date and time of submission</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#">QQ 123456 A</a></th>
          <td class="govuk-table__cell">Banana</td>
          <td class="govuk-table__cell">Bob</td>            
          <td class="govuk-table__cell">Thu 7 May 2026 12:56</td>
          <td class="govuk-table__cell">Available Fri 8 May 2026 12:56</td>
        </tr>
        
      </tbody>
    </table>

  </div>
</div>

{% endblock %}