{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Record task outcome - What is the outcome of this task?</h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m">
                What is the outcome of this task?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason" name="outcomeReason" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="outcomeReason">
                  Full disallowance
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-2" name="outcomeReason" type="radio"
                  value="scotland">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-2">
                  Partial disallowance
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-3" name="outcomeReason" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-3">
                  No change to award
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-4" name="outcomeReason" type="radio"
                  value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-4">
                  Outstanding action in CAU
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-5" name="outcomeReason" type="radio"
                  value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-5">
                  No action required
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- //button leads to U/O payment pages -->
        {% from "govuk/components/button/macro.njk" import govukButton %}
        <form class="form" action="full-part-disallowance" method="post">
          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
        <!-- button leads to outstanding outcomes
        {% from "govuk/components/button/macro.njk" import govukButton %}
        <form class="form" action="outstanding-action-outcome" method="post">.
          {{ govukButton({
          text: "Continue"
          }) }}
        </form> -->

        <!-- ////////////// -->
        <!--  button leads to no action required outcomes -->
        <!-- {% from "govuk/components/button/macro.njk" import govukButton %}
        <form class="form" action="no-action-outcome" method="post">.
          {{ govukButton({
          text: "Continue"
          }) }}
        </form> -->
      </div>
    </div>
  </main>
</div>



{% endblock %}