{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Record task outcome - What is the reason for this no action required outcome?</h1>
        <div class="govuk-inset-text">
          <p> National Insurance number: RN0002563, Name: Davis Jones</p>
          <p> You have selected CA outcome : No action required</p>
        </div>

        <form class="form" action="/no-action-outcome" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-heading-m">
                  What is the reason for this no action required outcome?
                </h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noActionOutcomeAddReason" name="noActionOutcomeAddReason"
                    type="radio" value="All earnings under limit">
                  <label class="govuk-label govuk-radios__label" for="noActionOutcomeAddReason">
                    All earnings under limit
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noActionOutcomeAddReason-2" name="noActionOutcomeAddReason"
                    type="radio" value="CAU already actioned">
                  <label class="govuk-label govuk-radios__label" for="noActionOutcomeAddReason-2">
                    CAU already actioned
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noActionOutcomeAddReason-3" name="noActionOutcomeAddReason"
                    type="radio" value="Claim not in payment">
                  <label class="govuk-label govuk-radios__label" for="noActionOutcomeAddReason-3">
                    Claim not in payment
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noActionOutcomeAddReason-4" name="noActionOutcomeAddReason"
                    type="radio" value="No active claim">
                  <label class="govuk-label govuk-radios__label" for="noActionOutcomeAddReason-4">
                    No active claim
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}