{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Record overpayment details</h1>
        <div class="govuk-inset-text">
          <p> National Insurance number: RN0002563, Name: Davis Jones</p>
          <p> You have selected CA outcome : {{data['outcomeReason']}}</p>
        </div>
        <form class="form" action="/overpayment-details" method="post">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% from "govuk/components/input/macro.njk" import govukInput %}
              {{ govukInput({
              label: {
              text: "Total overpayment",
              classes: "govuk-label--l"
              },
              id: "overPaymentValue",
              name: "overPaymentValue"
              }) }}

              {% from "govuk/components/select/macro.njk" import govukSelect %}

              {{ govukSelect({
              id: "errorType",
              name: "errorType",
              label: {
              text: "Error type"
              },
              items: [
              {
              value: "Official error",
              text: "Official error"
              },
              {
              value: "Customer error",
              text: "Customer error",
              selected: true
              }
              ]
              }) }}
            </div>
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}