{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Please select type of payment you would like to record?</h1>
        <div class="govuk-inset-text">
          <p> National Insurance number: RN0002563, Name: Davis Jones</p>
          <p> You have selected CA outcome : Full disallowance</p>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason" name="outcomeReason" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="outcomeReason">
                  Underpayments
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-2" name="outcomeReason" type="radio"
                  value="scotland">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-2">
                  Overpayments
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-3" name="outcomeReason" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-3">
                  Underpayments and overpayments
                </label>
              </div>
          </fieldset>
        </div>

        {% from "govuk/components/button/macro.njk" import govukButton %}
        <form class="form" action="overpayment-details" method="post">
          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}