{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your answers</h1>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              RN000559D
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the outcome of this task?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['outcomeReason']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the citizen already declared a change of earnings?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['earningsDeclared']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment type
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['paymentType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['overPaymentValue']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Error type
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['errorType']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount recoverable
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['amountRecoverable']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount not recoverable
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['amountNonRecoverable']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>
          </div>

        </dl>
        <p class="govuk-body">
          <a href="overpayment-details.html" class="govuk-link govuk-link--no-visited-state">Add overpayment</a>
        </p>

        {% from "govuk/components/button/macro.njk" import govukButton %}
        <form class="form" action="additional-outcomes.html" method="post">
          {{ govukButton({
          text: "Record outcome"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}