{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l">Total payments summary</h1>
      <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Overpayment details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total amount</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Error type</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Civil penalty applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Amount recoverable</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Amount non recoverable</th>
            <th scope="col" class="govuk-table__header govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><b>£1,20,000</b></td>
            <td class="govuk-table__cell govuk-table__cell">Official error</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell">£24,000</td>
            <td class="govuk-table__cell govuk-table__cell">
              <a href="#">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><b>£2,20,000</b></td>
            <td class="govuk-table__cell govuk-table__cell">Customer error</td>
            <td class="govuk-table__cell govuk-table__cell">No</td>
            <td class="govuk-table__cell govuk-table__cell">£60,000</td>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell">
              <a href="#">Change</a>
            </td>
          </tr>
        </tbody>
      </table> -->

      <table class="govuk-table" style="margin-top: 60px;">
        <caption class="govuk-table__caption govuk-table__caption--m">Underpayments details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total amount</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Error type</th>
            <th scope="col" class="govuk-table__header govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><b>£1,20,000</b></td>
            <td class="govuk-table__cell govuk-table__cell">Official error</td>
            <td class="govuk-table__cell govuk-table__cell">
              <a href="#">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><b>£2,20,000</b></td>
            <td class="govuk-table__cell govuk-table__cell">Customer error</td>
            <td class="govuk-table__cell govuk-table__cell">
              <a href="#">Change</a>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="govuk-button-group" style="margin-top: 60px;">
        <a href="payment-type.html" "=""">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add another
            payments</button></a>
        <a href="addtional-outcomes.html" "=""">
          <button class="govuk-button govuk-button--primary" data-module="govuk-button">Return to home page</button></a>
      </div>
    </div>
  </main>
</div>



{% endblock %}