{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l">Overpayments summary</h1>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Overpayment details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Total amount</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Error type</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Civil Penalties applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Amount recoverable</th>
            <th scope="col" class="govuk-table__header govuk-table__header">Amount non recoverable</th>
            <th scope="col" class="govuk-table__header govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><b>£1,20,000</b></td>
            <td class="govuk-table__cell govuk-table__cell">Official error</td>
            <td class="govuk-table__cell govuk-table__cell">Yes</td>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell">£24,000</td>
            <td class="govuk-table__cell govuk-table__cell">
              <a href="#">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><b>£2,20,000</b></td>
            <td class="govuk-table__cell govuk-table__cell">Customer error</td>
            <td class="govuk-table__cell govuk-table__cell">No</td>
            <td class="govuk-table__cell govuk-table__cell">£60,000</td>
            <td class="govuk-table__cell govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell">
              <a href="#">Change</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="govuk-button-group">
        <a href="overpayment-details.html" "=""">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add overpayment</button></a>
        <a href="total-payments-summary.html" "=""">
          <button class="govuk-button govuk-button--primary" data-module="govuk-button">View all payments</button></a>
      </div>
    </div>
  </main>
</div>



{% endblock %}