{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Record task outcome</h1>
        <div class="govuk-inset-text">
          <p> National Insurance number: RN0002563, Name: Davis Jones</p>
          <p> You have selected CA outcome : {{data['outcomeReason']}}</p>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m">
                Has the citizen already declared a change of earnings?
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason" name="outcomeReason" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="outcomeReason">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="outcomeReason-2" name="outcomeReason" type="radio"
                  value="scotland">
                <label class="govuk-label govuk-radios__label" for="outcomeReason-2">
                  No
                </label>
              </div>
          </fieldset>
        </div>

        {% from "govuk/components/button/macro.njk" import govukButton %}
        <form class="form" action="payment-type" method="post">
          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}