<nav class="dwp-header-navigation" aria-label="Primary">
    <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation"
    hidden>
    Menu
    </button>
    <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
        <a href="#">
        Make a new request
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="#">
        My tasks
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="#">
        Expiring tasks
        </a>
    </li>
    <li class="dwp-header-navigation__item{{ ' govuk-header__navigation-item--active' if globalNavSection == 'My teams' }}">
        <a href="/{{data.version}}/dashboards/teams-my-teams">
        My teams
        </a>
    </li>
    <li class="dwp-header-navigation__item {{ ' govuk-header__navigation-item--active' if globalNavSection == 'Service data' }}">
        <a href="/{{data.version}}/dashboards/service-dashboard">
        Service dashboard
        </a>
    </li>
    
    </ul>
</nav>