<nav class="dwp-header-navigation" aria-label="Primary">
    <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation"
    hidden>
    Menu
    </button>
    <ul id="navigation" class="dwp-header-navigation__list">
    <li class="dwp-header-navigation__item">
        <a href="#">
        Make a new request
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="#">
        My tasks
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="#">
        Task statistics
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="#">
        Expiring tasks
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="/{{version}}/ca-dashbaord_alerts.html">
        Dashboard
        </a>
    </li>
    <li class="dwp-header-navigation__item">
        <a href="/{{version}}/team-dashboard/team-setup.html">
        Team setup
        </a>
    </li>
    </ul>
</nav>