{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="additional-outcomes">Outcome reason</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="no-action-outcome">Record outcome</a>
        </li>

      </ol>
    </nav>
    <br />
    <br />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your answers before recording an outcome</h1>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              RN000559D
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the outcome of this task?
            </dt>
            <dd class="govuk-summary-list__value">
              No action required
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the reason for no action required?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['noActionOutcomeAddReason']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>

        </dl>

        <div class="govuk-button-group" style="margin-top: 60px;">
          <a href="additional-outcomes.html">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</button></a>
          <a href="closed-task.html">
            <button class="govuk-button govuk-button--primary" data-module="govuk-button">Record outcome</button></a>
        </div>
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}