{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="additional-outcomes">Outcome reason</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="full-disallowance.html">Has the claimant already declared a change of
            circumstances?</a>
        </li>
      </ol>
    </nav>
    <br />
    <br />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Select Payment type</h1>
        <div class="govuk-inset-text">
          <p> National Insurance number: RN0002563, Name: Davis Jones</p>
          <p> You have selected CA outcome : {{data['outcomeReason']}}</p>
        </div>

        <form class="form" action="/payment-type" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" data-required data-error="error">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="paymentType" name="paymentType" type="radio"
                    value="Overpayment">
                  <label class="govuk-label govuk-radios__label" for="paymentType">
                    Overpayment
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="paymentType-2" name="paymentType" type="radio"
                    value="Underpayment">
                  <label class="govuk-label govuk-radios__label" for="paymentType-2">
                    Arrears
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="paymentType-3" name="paymentType" type="radio"
                    value="Overpayment and arrears">
                  <label class="govuk-label govuk-radios__label" for="paymentType-3">
                    Overpayment and arrears
                  </label>
                </div>
            </fieldset>
          </div>

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}