{% extends "layouts/main.html" %}

{% block pageTitle %}
Task types
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#earningsDeclared-error">Select an option</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="additional-outcomes">Outcome reason</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="full-disallowance">{{data['outcomeReason']}}</a>
        </li>
      </ol>
    </nav>
    <div class="govuk-grid-row" style="margin-top: 60px;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Record task outcome</h1>
        <div class="govuk-inset-text">
          <p> National Insurance number: RN0002563, Name: Davis Jones</p>
          <p> You have selected CA outcome : {{data['outcomeReason']}}</p>
        </div>

        <form class="form" action="/full-disallowance-error" method="post">
          <div class="govuk-form-group govuk-form-group--error">
            <fieldset class="govuk-fieldset" aria-describedby="earningsDeclared-error">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-heading-m">
                  Has the citizen already declared a change of circumstances?
                </h2>
              </legend>

              <p id="earningsDeclared-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select an option
              </p>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="earningsDeclared" name="earningsDeclared" type="radio"
                    value="Yes">
                  <label class="govuk-label govuk-radios__label" for="earningsDeclared">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="earningsDeclared-2" name="earningsDeclared" type="radio"
                    value="No">
                  <label class="govuk-label govuk-radios__label" for="earningsDeclared-2">
                    No
                  </label>
                </div>
            </fieldset>
          </div>

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
          text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}