{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My tasks' %}

{% block pageTitle %}
Check your answers before recording the outcome
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">My open tasks</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Claimant - QQ123456A</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Check your answers before recording the outcome</a>
        </li>
      </ol>
    </nav>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your answers before recording the outcome</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ123456A
            </dd>
            <dd class="govuk-summary-list__actions">
              &nbsp
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the outcome of this task?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.outcome}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% if data.claimantDeclared %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the claimant already declared a change of circumstances?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.claimantDeclared}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data.paymentType %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment type
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.paymentType}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data.noChangeReason %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the reason for no change to award?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.noChangeReason}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data.outstandingAction %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the reason for the outstanding action in CAU?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.outstandingAction}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}

          {% if data.noActionReason %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the reason for no action required?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.noActionReason}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}

      
        </dl>


        {% if data.paymentType == "Overpayments" or data.paymentType == "Overpayments and arrears" %}
        <h2 class="govuk-heading-m">Overpayment details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if data.officialError %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Official error amount
            </dt>
            <dd class="govuk-summary-list__value">
              &pound;{{data.officialError}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data.customerError %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Customer error amount
            </dt>
            <dd class="govuk-summary-list__value">
              &pound;{{data.customerError}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
          {% if data.civilPenalty %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Civil penalty applied?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.civilPenalty}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
        </dl>
        {% endif %}

        {% if data.paymentType == "Arrears" or data.paymentType == "Overpayments and arrears" %}
        <h2 class="govuk-heading-m">Arrears details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% if data.arrearsPaid %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Arrears paid
            </dt>
            <dd class="govuk-summary-list__value">
              &pound;{{data.arrearsPaid}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> amount</span></a>
            </dd>
          </div>
          {% endif %}
        </dl>
        {% endif %}

        {% if data.cancelAlerts %}
        <h2 class="govuk-heading-m">Cancel alerts</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Would you like to cancel the {{data.benefit}} request for Bob Banana?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.cancelAlerts}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> amount</span></a>
            </dd>
          </div>
        </dl>
        {% endif %}



        <form method="post">
          <div class="form-group">
            <a href="../clear-record-sessions" class="govuk-button">Record outcome</a>
          </div>
          <div class="form-group">
            <a href="../clear-record-sessions" class="govuk-button govuk-button--secondary">Cancel</a>
          </div>
        </form>
      </div>


    </div>




  </main>
</div>

{% endblock %}