{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My tasks' %}

{% block pageTitle %}
What is the reason for no action required?
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">My open tasks</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Claimant - QQ123456A</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">What is the reason for no action required?</a>
        </li>
      </ol>
    </nav>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What is the reason for no action required?
            </h1>
          </legend>
          <div class="govuk-inset-text">
            National Insurance number: QQ123456A, Name: Bob Banana<br>
            You have selected CA outcome: {{data.outcome}}
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noActionReason" name="noActionReason" type="radio" value="With CAU for action">
              <label class="govuk-label govuk-radios__label" for="noActionReason">
                With CAU for action
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noActionReason-2" name="noActionReason" type="radio" value="Dormant case">
              <label class="govuk-label govuk-radios__label" for="noActionReason-2">
                Dormant case
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>
    </form>


  </main>
</div>

{% endblock %}