{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My tasks' %}

{% block pageTitle %}
Do you want to unset the interest?
{% endblock %}

{% block content %}
 {% include "/includes/back.njk" %}
<main class="govuk-main-wrapper">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <section class="dwp-quick-reference" aria-label="Case information">
        <dl class="dwp-quick-reference__block">
          <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
          <dd class="dwp-quick-reference__primary">Bob Banana</dd>
          <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National
            Insurance number:</dt>
          <dd class="dwp-quick-reference__secondary">QQ 12 34 56 A</dd>
        </dl>
      </section>
  
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Record an outcome</span>
              Do you want to unset the interest in Bob Banana?
            </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="unsetInterest" name="unsetInterest" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="unsetInterest">
                Yes
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="unsetInterest-2" name="unsetInterest" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="unsetInterest-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>
    </form>

</div>
</div>
  </main>


{% endblock %}