{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Service data' %}

{% block pageTitle %}
User list
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl">JSON example</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="user">
                Choose your team member
              </label>
            </h1>
            <select class="govuk-select" id="user" name="user" data-module="autocomplete" data-autoselect=""
              data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option value="" selected>Select an option</option>

              {% for person in data['users']%}
              <option value="{{loop.index0}}">{{person.firstName}} {{person.lastName}} ({{person.email}})</option>
              {% endfor %}
            </select>
          </div>
          <div class="govuk-form-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
              Add member to this team
            </button>
          </div>
        </form>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Service users</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Email Address</th>
              <th scope="col" class="govuk-table__header">Staff number</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for person in data['users']%}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{person.firstName}} {{person.lastName}} </th>
              <td class="govuk-table__cell">{{person.email}}</td>
              <td class="govuk-table__cell">{{person.staffNumber}}</td>
            </tr>
            {% endfor %}



          </tbody>
        </table>

      </div>
    </div>
  </main>
</div>
{% endblock %}