{% extends "layouts/main.html" %}

{% block pageTitle %}
All tasks
{% endblock %}

{% block beforeContent %}



{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
<nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="task-list-tab.html" id="openHeader">My open tasks</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="task-details.html" id="openHeader">Citizen - HD 62 93 84 O - John Smith -
        Task Details</a>
    </li>
  </ol>
</nav>


{% endblock %}

{% block content %}


<div class="govuk-grid-full">
  <h1 class="govuk-heading-l">
    <span id="openHeader">Citizen - HD 62 93 84 O - John Smith - Task Details</span>
  </h1>
  &nbsp;
</div>


<!-- Tab labels -->

<div class="govuk-tabs" data-module="govuk-tabs">

  <form class="form" action="/task-list-tab" method="post">
    <div class="govuk-form-group">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#tasks">
            Task details
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#search-tasks">
            History
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#on-hold-tasks">
            Alerts
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#closed-tasks">
            Earnings Summary
          </a>
        </li>

      </ul>
    </div>
  </form>



  <!-- Tasks tab -->

  <div class="govuk-tabs__panel" id="tasks">

    <h2 class="govuk-heading-m">
      Alert List:
    </h2>
    <!-- -----   radio buttons for alerts age profile  -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task Status
            </dt>
            <dd class="govuk-summary-list__value">
              Open
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date task opened
            </dt>
            <dd class="govuk-summary-list__value">
              8 July 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notes
            </dt>
            <dd class="govuk-summary-list__value">

              <p class="govuk-body">
                <span id="notesColumn"></span>
                <br />
                <br />
                <a href="edit-notes.html" class="govuk-link">Edit notes</a>

              </p>
            </dd>
          </div>
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Record Outcome
    </button>
    <br />
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Bring Forward
    </button>
  </div>

  <!-- On hold tasks tab -->

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="on-hold-tasks">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">National Insurance number</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Notes</th>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="task-details-on-hold-assigned">HD 62 93 84 O</a></td>
          <td class="govuk-table__cell">Mr John Smith</td>
          <td class="govuk-table__cell">Task opened today</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Closed tasks tab -->

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-tasks">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">NI number</th>
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Comment</th>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="task-details-on-hold-assigned">HD 62 93 84 O</a></td>
          <td class="govuk-table__cell">open</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Search task -->



  <div class="govuk-tabs__panel" id="search-tasks">

    <h2 class="govuk-heading-m">
      Select a task by to assign it to my list
    </h2>
    <!-- -----   radio buttons for alerts age profile  -->
    <div class="govuk-grid-row">

      <form class="form" action="/task-list-tab" method="post">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="event-name">
              National Insurance number
            </label>
            <div id="event-name-hint" class="govuk-hint">
              Enter the National Insurance number of the task to search. For example, 'QQ 12 34 56 C'.
            </div>
            <input class="govuk-input" id="event-name" name="nino" type="text">
          </div>
        </div>
        <div class="govuk-grid-column-one-third">

          <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 90px;">
            Add new task
          </button>
        </div>
      </form>
    </div>


    <!-- ///////////// -->
    <br />
    <hr class="govuk-section-break govuk-section-break--visible">
    <br />
    {% if data['nino'] != "" %}
    <!-- <h2 class="govuk-heading-m">
      My open tasks
    </h2> -->
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th scope="col" class="govuk-table__header">National Insurance number</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Notes</th>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="task-details-on-hold-assigned">HD 62 93 84 O</a></td>
          <td class="govuk-table__cell">Mr John Smith</td>
          <td class="govuk-table__cell">Task opened today</td>
        </tr>
      </tbody>
    </table>

    {% endif %}
  </div>
  &nbsp;

</div>
</div>
</div>
</div>
</div>
</div>
</div>


<script>
  const latestNote = localStorage.getItem('latestNote');
  document.getElementById('notesColumn').textContent = latestNote || 'No notes yet.';
</script>

{% endblock %}