{% extends "layouts/main.html" %}

{% block pageTitle %}
All tasks
{% endblock %}

{% block beforeContent %}



{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
<nav class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="task-list-tab.html" id="openHeader">Make a new request</a>
        </li>
    </ol>
</nav>


{% endblock %}

{% block content %}


<div class="govuk-grid-full">


    <h1 class="govuk-heading-l">Real Time Information (RTI) request</h1>

    <form method="" action="">
        <label class="govuk-label" for="national-insurance-number">National Insurance number</label>
        <div id="national-insurance-number-hint" class="govuk-hint">
            Enter a National Insurance number to set an interest against the citizen and search for Real Time
            Information data.<br>
            For example, ‘QQ 12 34 56 C’
        </div>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing"
            id="national-insurance-number" name="nationalInsuranceNumber" type="text" spellcheck="false"
            autocomplete="off" aria-describedby="national-insurance-number-hint">
</div>
<br />
<br />

</form>


<a href="./rti-set-interest.html">Set interest</a>
<br />

<br />
<a href="./earnings-summary.html">View RTI data immediately</a>
<br />
<br />

<a href="./setInterest-data.html" role="button" draggable="false" class="govuk-button">Search</a>

<p class="govuk-body">
    <a class="govuk-link" href=""> View your recent set interest requests</a>
</p>
</div>


{% endblock %}