{% extends "layouts/main.html" %}

{% block pageTitle %}
Cookies consent
{% endblock %}


{% block header %}

<header class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name dwp-header__service-name--with-action">
      <a href="#" class="dwp-header__link">Verify earnings and pensions</a>

      <ul>
        <!-- home -->
        <li>
          <a href="#" style="color:white;"> Make a new request </a>
        </li>
        <!-- about -->
        <li>
          <a href="#" style="color:white;"> My tasks </a>
        </li>
        <li>
          <a href="#" style="color:white;"> Task statistics </a>
        </li>

        <li>
          <a href="#" style="color:white;"> Expiring tasks </a>
        </li>
        <li>
          <a href="v3/ca-dashbaord_alerts.html" style="color:white;">Dashboard</a>
        </li>
        <li>
          <a href="v3/team-dashboard/team-setup.html" style="color:white;">Team setup</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="govuk-phase-banner">
  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new private beta service - help us to improve it by telling us your <a class="govuk-link"
          href="feedback">feedback</a>.
      </span>
    </p>
  </div>
</div>
<br />
<br />
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-xl">Cookies on verify earnings and pensions</h1>
    <p class="govuk-body">Cookies are small text files that we save on your phone, tablet or computer when you use this
      service. Some cookies on verify earnings and pensions are essential and others are optional.</p>
    <p class="govuk-body">We cannot use cookies to identify you.</p>
    <h2 class="govuk-heading-l">Essential cookies</h2>
    <div class="govuk-body" id="essential_cookies_desc">
      <p>Essential cookies are needed to make the service work. If you do not want us to use them you can turn off
        cookies in your web browser, but the service may not work properly.</p>
      <p>We will not set any essential cookies until you start using the service.</p>
      <details class="govuk-details" data-module="essential-cookies-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Essential cookies used by this service
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-m" id="security_cookies_desc">Security cookies</h3>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Expires</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">SESSION</td>
                <td class="govuk-table__cell">A unique identifier representing your session with this application</td>
                <td class="govuk-table__cell">1 hour</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">connect.sid</td>
                <td class="govuk-table__cell">A unique identifier representing your session with this application</td>
                <td class="govuk-table__cell">12 hours</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">VEP_ID</td>
                <td class="govuk-table__cell">A unique identifier assigned to you - used by dynatrace for monitoring
                  purposes</td>
                <td class="govuk-table__cell">5 mins</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">VEP_NAME</td>
                <td class="govuk-table__cell">Your name - used by dynatrace for monitoring purposes</td>
                <td class="govuk-table__cell">5 mins</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">VEP_LOC</td>
                <td class="govuk-table__cell">The office location or team that you are assigned to - used by dynatrace
                  for monitoring purposes</td>
                <td class="govuk-table__cell">5 mins</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">VEP_BEN</td>
                <td class="govuk-table__cell">The benefit type that you work with - used by dynatrace for monitoring
                  purposes</td>
                <td class="govuk-table__cell">5 mins</td>
              </tr>
            </tbody>
          </table>


        </div>
      </details>
    </div>
    <div class="govuk-body" id="optional_cookies_desc">
      <h2 class="govuk-heading-l">Optional cookies</h2>
      <p>Optional cookies help us to improve the service, but it will work without them. We will not use them without
        your permission and you can change your mind at any time.</p>
      <form action="#">
        <h3 class="govuk-heading-m" id="google_analytics_cookies_desc">Analytics cookies (Google Analytics)</h3>
        <p class="govuk-body">We use Google Analytics software to collect information about how you use this service and
          help us make it better. We do not allow Google to use or share this data.</p>
        <details class="govuk-details" data-module="analytics-cookies-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Analytics cookies used by this service
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table" aria-describedby="google_analytics_cookies_desc">
              <thead class="govuk-table__header">
                <tr>
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Purpose</th>
                  <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr scope="row" class="govuk-table__row">
                  <td class="govuk-table__cell">_ga</td>
                  <td class="govuk-table__cell">Checks if you have visited before so we can count how many people use
                    the service.</td>
                  <td class="govuk-table__cell">2 years</td>
                </tr>
                <tr scope="row" class="govuk-table__row">
                  <td class="govuk-table__cell">_ga_&lt;container-id&gt;</td>
                  <td class="govuk-table__cell">Collects information about how you use the service so we can make it
                    better.</td>
                  <td class="govuk-table__cell">2 years</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">Can we use analytics
              cookies?</legend>
            <input value="" type="hidden" name="cookie_preferences_form[ga]" id="cookie_preferences_form_ga">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="google_analytics" name="google_analytics" type="radio"
                  value="yes">
                <label class="govuk-label govuk-radios__label" for="google_analytics">
                  Accept analytics cookies
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="google_analytics-2" name="google_analytics" type="radio"
                  value="no" checked>
                <label class="govuk-label govuk-radios__label" for="google_analytics-2">
                  Reject analytics cookies
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button">Save cookie settings</button>
      </form>
    </div>
  </main>
</div>
<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#">
              Cookies
            </a>
          </li>
        </ul>
        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
            Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
          © Crown copyright
        </a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}