{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'Service data' %}

{% block pageTitle %}
User list
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-xl">JSON example</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Service users</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Email Address</th>
              <th scope="col" class="govuk-table__header">Staff number</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for person in data['users']%}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{person.firstName}} {{person.lastName}} </th>
              <td class="govuk-table__cell">{{person.email}}</td>
              <td class="govuk-table__cell">{{person.staffNumber}}</td>
            </tr>
             {% endfor %}


            
          </tbody>
        </table>

      </div>
    </div>
  </main>
</div>
{% endblock %}