{% extends "layouts/main_post_2026.html" %}
{% set globalNavSection = 'My tasks' %}

{% block pageTitle %}
My open tasks
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content">
    {% if data.outcomeSuccess == "true" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Outcome recorded {% if data.cancelAlerts == "Yes" %}and alerts cancelled{%endif%}
        </h3>
        {% if (data.benefitType == "pc" or data.benefitType == "hb") and data.cancelAlerts == "Yes" %}
        <p class="govuk-body">
          Check Searchlight to see whether Bob Banana has a partner. If they do, you may also need to <a href="../manage-interest/stop-request" class="govuk-link">
            {% if data['test']=="a" %}unset an interest</a> in
            {% elif data['test'] == "b" %}cancel the request</a> for
            {%endif%}
             them.
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-xl">My open tasks</h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#open-tasks">
            Open tasks
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#search-nino">
            Search by National Insurance number
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#closed-tasks">
            Closed tasks
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#transfer-task">
            Transfer a task
          </a>
        </li>
      </ul>


      <div class="govuk-tabs__panel" id="open-tasks">
        {% if data.benefitType == "pc" or  data.benefitType == "ca"%}
        <h2 class="govuk-heading-m">Alert list:</h2>
        <div class="govuk-form-group">
          <select class="govuk-select" id="sort" name="sort">
            <option value="updated" selected>Select an alert list</option>
            <option value="published">Oldest</option>
            <option value="views">Newest</option>
            <option value="comments">Standard</option>
          </select>
        </div>
        {% endif %}
        <button class="govuk-button">Add new task</button>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">National Insurance number</th>
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Notes</th>
              <th scope="col" class="govuk-table__header">Alert type</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task-details?outcomeSuccess=false&cancelAlerts=">QQ 123456 A</td>
              <td class="govuk-table__cell">Bob Banana</td>
              <td class="govuk-table__cell">Task opened 3 days ago.</td>
              <td class="govuk-table__cell">Standard</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="search-nino">

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-tasks">

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="transfer-task">

      </div>
    </div>

  </main>
</div>

{% endblock %}