{% extends "layouts/main.html" %}

{% block pageTitle %}
  Statistics
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class=spacer1></div>
{{ govukBreadcrumbs({
  items: [
    {
      text: "Team manager/ Team Leader Dashboard",
      href: "home"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div> 

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">
  Statistics
</h1>
<h2 class="govuk-heading-m"> 
  2 February to 8 February 2025
</h2>
&nbsp;
<hr width="75%" size="2" align="left">
<div>
<br>
<div>
    <p style="color:#0f0f0f;">Alerts Intake</p>
    <span class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
      4,572
    </span>
</div>
&nbsp;
<hr width="75%" size="2" align="left">
<br>

<div>
    <p style="color:#0f0f0f;">Alerts cleared</p>
    <span class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
      3,921
    </span>
</div>
&nbsp;
<hr width="75%" size="2" align="left">
&nbsp;
<div>
  <p style="color:#0f0f0f;">Outstanding</p>
  <span class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
    21
  </span>
</div>

&nbsp;
<hr width="75%" size="2" align="left">
&nbsp;
<div>
  <p style="color:#0f0f0f;">Total overpayment</p>
  <span class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
    £32,000
  </span>
</div>
&nbsp;
&nbsp;
<div>
  <p style="color:#0f0f0f;">Avg overpayment amount- 
  <span class="govuk-!-font-size- govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
    £8,000
  </span>
  </p>
</div>
&nbsp;
&nbsp;
<div>
  <p style="color:#0f0f0f;">Highest overpayment - 
  <span class="govuk-!-font-size- govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
    £12,000
  </span>
  </p>
</div>
&nbsp;
<hr width="75%" size="2" align="left">
&nbsp;
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <p style="color:#0f0f0f;">Total underpayment amount</p>
      <span class="govuk-!-font-size-80 govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
        £16,750
      </span>
    </div>
    &nbsp;
    &nbsp;
    <div>
      <p style="color:#0f0f0f;">Avg underpayment amount- 
      <span class="govuk-!-font-size- govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
        £7,000
      </span>
      </p>
    </div>
    &nbsp;
    &nbsp;
    <div>
      <p style="color:#0f0f0f;">Highest underpayment - 
      <span class="govuk-!-font-size- govuk-!-font-weight-bold govuk-body" style="color:#0f0f0f;">
        £4,000
      </span>
      </p>
    </div>
  </div>
</div>

<br>
</div> 
</div>



<div class="govuk-grid-column-one-third govuk-form-group">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Date range
      </h1>
    </legend>
    <p>Enter the date range you want statistics for, from earliest to latest.</p>
    <div class="govuk-date-input" id="passport-issued">
      <p><strong>Start date</strong></p>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2025
      </div>
       <!--<p id="passport-issued-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> 'From' date must be today's date or in the past
      </p>-->

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>
<p><strong>End date</strong></p>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 27 3 2025
</div>

 <!--<p id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> 'To' month must be a real date
    </p>-->

<div class="govuk-form-group">
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input  govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Filter
  </button>
</div>
</div>

</div>


   </div>

 {% endblock %}
