{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="spacer2">
    </div>

    <h1 class="govuk-heading-xl">
      Prototype
    </h1>
    <h2 class="govuk-heading-m">All versions</h2>
    &nbsp;
  </div>
  <div class="govuk-grid-column-full">


    <!-- Demos -->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Product demo links</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="25%">Date</th>
          <th scope="col" class="govuk-table__header" width="50%">Information</th>
          <th scope="col" class="govuk-table__header" width="25%">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body"></tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 2</td>
        <td class="govuk-table__cell">20 July 2025</td>
        <td class="govuk-table__cell"><a href="v2/alerts-profile/task-list-tab.html">Alerts Profile - in new tab</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 1</td>
        <td class="govuk-table__cell">20 July 2025</td>
        <td class="govuk-table__cell"><a href="v2/alerts-profile/task-list.html">Open tasks - select alerts by age and
            NINO</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 3</td>
        <td class="govuk-table__cell">20 July 2025</td>
        <td class="govuk-table__cell"><a href="v3/home-v2.html">Dashboard - Added Payments statistics</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 2</td>
        <td class="govuk-table__cell">22 June 2025</td>
        <td class="govuk-table__cell"><a href="v3/home-v1.html">Dashboard - with Ovearall statistics and Alerts intake &
            cleared</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 2</td>
        <td class="govuk-table__cell">30 May 2025</td>
        <td class="govuk-table__cell"><a href="v2/outcomes/task-list.html">Record an outcome</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 2</td>
        <td class="govuk-table__cell">30 May 2025</td>
        <td class="govuk-table__cell"><a href="v2/error-pages/additional-outcomes-error.html">Error journey</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 1</td>
        <td class="govuk-table__cell">30 April 2025</td>
        <td class="govuk-table__cell"><a href="v1/outcomes/additional-outcomes">Additional outcomes</a>
        </td>
      </tr>
      </tbody>
      <tbody class="govuk-table__body"></tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 2</td>
        <td class="govuk-table__cell">30th April 2025</td>
        <td class="govuk-table__cell"><a href="v1/home">Team Manager demo</a></td>
      </tr>
      </tbody>
      <tbody class="govuk-table__body"></tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Version 1</td>
        <td class="govuk-table__cell">24 March 2025</td>
        <td class="govuk-table__cell"><a href="v1/home">Team manager demo</a></td>
      </tr>
      </tbody>
    </table>
    {% endblock %}