{% extends "layouts/index.html" %}

{% block pageTitle %}
{{ serviceName }} homepage
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1  class="govuk-heading-l">Active prototype</h1>
        <p class="govuk-body">
          This represents iterative changes and new functionality introduced post March 2026.
        </p>

        <div class="dfe-grid-container">
          <div class="dfe-card">
            <div class="dfe-card-container">
              <h3 class="govuk-heading-m">
                <a href="/indexs/data-dashboards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Data dashboards</a>
              </h3>
              <p>The evolution of the senior manager MI dashboard and the team management dashboard</p>
            </div>
          </div>
        </div>

        <h1 class="govuk-heading-m">Archive</h1>
        <p class="govuk-body"><a href="/indexs/historic">View designs pre-March 2026</a> </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}